:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --infor: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c0c13;
  color: white;
  font-family: "Ubuntu";
}

.app {
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;

  label,
  input {
    display: none;
  }

  h2 {
    text-transform: capitalize;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__split {
    p {
      margin-bottom: 0.5rem;
      i {
        display: inline-block;
        margin-right: 5px;
        font-size: 1.2rem;
        position: relative;
        bottom: -1px;
      }
    }
  }
}

.hangman {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.virtual-keyboard {
  .question-block {
    text-align: center;
    margin-bottom: 2rem;

    .question {
      font-size: 2rem;
      color: var(--infor);
      margin-bottom: 1rem;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .answer {
      font-size: 1.5rem;
      letter-spacing: 1rem;
      color: var(--warning);
    }
  }

  .keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    .key {
      flex-basis: 8%;
      margin: 1%;

      .button {
        background-color: var(--dark);
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        border-radius: 7px;
        border: 1px solid var(--secondary);
        border-bottom: 4px solid var(--secondary);
        z-index: 10;

        &:active {
          background-color: var(--secondary);
          border: 1px solid var(--dark);
          border-bottom: 4px solid var(--dark);
        }
        span {
          user-select: none;
        }
      }
      .wrong-key {
        background-color: var(--danger);
        border: 1px solid var(--danger);
        border-bottom: 4px solid var(--danger);
      }
    }
  }
}

form {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  // height: calc(100vh - 140px);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);

  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: none;
    background: inherit;
    color: white;
    padding: 0.7rem 0.7rem 0.7rem 0;
    position: relative;
    transition: all 0.2s;
    border-bottom: 4px solid transparent;

    &:focus {
      outline: none;
      border-bottom: 4px solid var(--warning);
    }
  }
}

@media screen and (max-width: 770px) {
  .virtual-keyboard {
    .question-block {
      .question {
        font-size: 1.7rem;
      }
      .answer {
        font-size: 1.5rem;
      }
    }
    .keyboard {
      max-width: 100%;

      .key {
        .button {
          font-size: 1.4rem;
          padding: 0.5rem 0.3rem;
        }
      }
    }
  }
}

// note fe + galaxy note
@media screen and (max-width: 576px) {
  .app {
    padding: 0.3rem;
  }

  .header {
    display: block;

    &__split:first-child {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__split {
      transition: all 0.2s;
    }

    label {
      display: block;
    }

    input + &__split {
      height: 0;
      overflow: hidden;
    }

    input:checked + &__split {
      height: 83px;
    }

    &__split h2 {
      display: inline;
    }
  }

  .hangman {
    margin-top: -3rem;
  }

  .virtual-keyboard {
    .question-block {
      .question {
        font-size: 1.4rem;
      }

      .answer {
        font-size: 1.2rem;
      }
    }

    .keyboard {
      max-width: 100%;

      .key {
        flex-basis: 9%;
        margin: 0.5%;

        .button {
          padding: 0.5rem 0.3rem;
          border-bottom-width: 3px;

          &:active {
            border-bottom-width: 3px;
          }
        }
      }
    }
  }
}

// ip5
@media screen and (max-width: 330px) {
  .app {
    padding: 0.1rem;
  }
  .virtual-keyboard {
    .keyboard {
      .key {
        .button {
          padding: 0.2rem;
          border-bottom-width: 2px;

          &:active {
            border-bottom-width: 2px;
          }
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
